In [129]:
cols1 = [x[1] for x in df_return.columns]
cols2 = [x for x in df_rank.columns]
with open('stocks.txt', 'w') as file:
    file.write(','.join([str(x) for x in cols1 if x in cols2]))

In [157]:
stocks = [x for x in cols1 if x in cols2]

In [1]:
from scipy.stats import rankdata
import scipy as sp
import numpy as np
import pandas as pd
import datetime

In [104]:
df = pd.read_csv('./alldata.csv', encoding="ISO-8859-1")

C:\Users\tanya\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [105]:
df['Trddt'] = pd.to_datetime(df['Trddt'], format='%Y-%m-%d')
df

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,Dsmvtll,Dretwd,Dretnd,Adjprcwd,Adjprcnd,Markettype,Capchgdt,Trdsta,IndustryCode,IndustryName
0,1,2010-01-04,24.520,24.580,23.680,23.710,24192276,5.802495e+08,69330749.18,73629834.50,-0.027082,-0.027082,818.361203,710.377219,4,2009-10-15,1,480101.0,ÒøÐÐ
1,1,2010-01-05,23.750,23.900,22.750,23.300,55649982,1.293477e+09,68131862.33,72356606.65,-0.017292,-0.017292,804.209870,698.093176,4,2009-10-15,1,480101.0,ÒøÐÐ
2,1,2010-01-06,23.250,23.250,22.720,22.900,41214313,9.444537e+08,66962216.62,71114433.15,-0.017167,-0.017167,790.403692,686.108744,4,2009-10-15,1,480101.0,ÒøÐÐ
3,1,2010-01-07,22.900,23.050,22.400,22.650,35533685,8.041663e+08,66231188.06,70338074.71,-0.010917,-0.010917,781.774831,678.618474,4,2009-10-15,1,480101.0,ÒøÐÐ
4,1,2010-01-08,22.500,22.750,22.350,22.600,28854306,6.506674e+08,66084982.34,70182803.02,-0.002208,-0.002208,780.049059,677.120420,4,2009-10-15,1,480101.0,ÒøÐÐ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8672604,900957,2022-01-24,0.633,0.638,0.615,0.621,479100,2.998840e+05,114264.00,216729.00,-0.026646,-0.026646,0.625923,0.620999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672605,900957,2022-01-25,0.617,0.620,0.607,0.611,372779,2.281030e+05,112424.00,213239.00,-0.016103,-0.016103,0.615844,0.610999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672606,900957,2022-01-26,0.614,0.617,0.610,0.614,222600,1.362910e+05,112976.00,214286.00,0.004910,0.004910,0.618868,0.613999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672607,900957,2022-01-27,0.610,0.613,0.605,0.612,245100,1.487580e+05,112608.00,213588.00,-0.003257,-0.003257,0.616852,0.611999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ
8672608,900957,2022-01-28,0.615,0.618,0.608,0.617,214934,1.319240e+05,113528.00,215333.00,0.008170,0.008170,0.621892,0.616999,2,2000-08-03,1,620201.0,×°ÐÞ×°ÊÎ

In [55]:
df1 = pd.read_csv('FI_T1.csv', names=['code', 'date', 'type', 'current', 'quick', 'cash', 'asset_liabilities'], skiprows=1)
df1['date'] = pd.to_datetime(df1['date'], format='%Y-%m-%d')
df1 = df1[df1.date >= datetime.datetime(2010,1,1)].fillna(0)
df1['total'] = df1.apply(lambda row: row.current + row.quick + row.cash + row.asset_liabilities, axis=1)
df1

,code,date,type,current,quick,cash,asset_liabilities,total
52,1,2010-03-31,A,0.000000,0.000000,0.000000,0.964335,0.964335
53,1,2010-06-30,A,0.000000,0.000000,0.000000,0.951279,0.951279
54,1,2010-09-30,A,0.000000,0.000000,0.000000,0.952384,0.952384
55,1,2010-12-31,A,0.000000,0.000000,0.000000,0.954349,0.954349
56,1,2011-03-31,A,0.000000,0.000000,0.000000,0.955483,0.955483
...,...,...,...,...,...,...,...,...
417595,900957,2021-06-30,B,0.049179,0.049179,0.005339,0.175547,0.279244
417596,900957,2021-09-30,A,3.237560,3.237560,0.108620,0.499556,7.083296
417597,900957,2021-12-31,A,2.615010,2.615010,0.006072,0.485731,5.721823
417598,900957,2021-12-31,B,0.022762,0.022762,0.003434,0.163463,0.212421
417599,900957,2022-03-31,A,2.686638,2.686638,0.010447,0.482991,5.866714

In [54]:
df2 = pd.read_csv('FI_T4.csv', names=['code', 'date', 'type', 'ar', 'inventory', 'total_assets'], skiprows=1)
df2['date'] = pd.to_datetime(df2['date'], format='%Y-%m-%d')
df2 = df2[df2.date >= datetime.datetime(2010,1,1)].fillna(0)
df2['total'] = df2.apply(lambda row: row.ar + row.inventory + row.total_assets, axis=1)
df2

          code       date type        ar  inventory  total_assets     total
51           1 2010-03-31    A  0.553485        0.0      0.025795  0.579280
52           1 2010-06-30    A  0.575230        0.0      0.026809  0.602039
53           1 2010-09-30    A  0.681562        0.0      0.026964  0.708526
54           1 2010-12-31    A  0.520823        0.0      0.026710  0.547533
55           1 2011-03-31    A  0.512961        0.0      0.026932  0.539893
...        ...        ...  ...       ...        ...           ...       ...
409880  900957 2021-06-30    B  0.000000        0.0      0.005464  0.005464
409881  900957 2021-09-30    A  0.458742        0.0      0.102974  0.561716
409882  900957 2021-12-31    A  0.477495        0.0      0.111285  0.588780
409883  900957 2021-12-31    B  0.000000        0.0      0.005854  0.005854
409884  900957 2022-03-31    A  0.441853        0.0      0.111597  0.553450

[310824 rows x 7 columns]

In [53]:
df3 = pd.read_csv('FI_T5.csv', names=['code', 'date', 'type', 'roa', 'roe', 'gross', 'net'], skiprows=1)
df3['date'] = pd.to_datetime(df3['date'], format='%Y-%m-%d')
df3 = df3[df3.date >= datetime.datetime(2010,1,1)].fillna(0)
df3['total'] = df3.apply(lambda row: row.roa + row.roe + row.gross + row.net, axis=1)
df3

,code,date,type,roa,roe,gross,net,total
52,1,2010-03-31,A,0.009611,0.280066,0.000000,0.398848,0.688525
53,1,2010-06-30,A,0.009870,0.237663,0.000000,0.368431,0.615964
54,1,2010-09-30,A,0.009968,0.239194,0.000000,0.372328,0.621490
55,1,2010-12-31,A,0.009557,0.234177,0.000000,0.357811,0.601545
56,1,2011-03-31,A,0.009959,0.244847,0.000000,0.427619,0.682425
...,...,...,...,...,...,...,...,...
422049,900957,2021-06-30,B,0.028113,0.034059,0.000000,4.505462,4.567634
422050,900957,2021-09-30,A,0.025301,0.051332,0.547822,0.243768,0.868223
422051,900957,2021-12-31,A,0.027209,0.053938,0.570339,0.244499,0.895985
422052,900957,2021-12-31,B,0.023808,0.028701,0.000000,4.067046,4.119555
422053,900957,2022-03-31,A,0.026372,0.051968,0.544884,0.265327,0.888551

In [135]:
df1 = df1[df1.code.isin(stocks)]
df2 = df2[df2.code.isin(stocks)]
df3 = df3[df3.code.isin(stocks)]

In [106]:
df_close = df.pivot(index=['Trddt'], columns='Stkcd', values=['Clsprc'])
df_close

           Clsprc                                                          \
Stkcd      1      2      4      5      6      7      8      9      10
Trddt
2010-01-04  23.71  10.60    NaN   5.99  11.12   6.93    NaN  10.84  11.81
2010-01-05  23.30  10.36    NaN   6.20  10.80   7.19    NaN  10.56  11.60
2010-01-06  22.90  10.36    NaN   6.08  10.83   7.19    NaN  10.55  11.72
2010-01-07  22.65  10.28    NaN   5.83  10.74   6.98    NaN  10.75  11.26
2010-01-08  22.60  10.35    NaN   5.89  11.00   7.03    NaN  11.27  11.46
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
2022-01-24  17.20  21.70  21.45   2.12   4.46   6.92   2.67  14.35   3.61
2022-01-25  16.85  20.82  20.24   2.05   4.29   6.82   2.52  13.60   3.39
2022-01-26  16.65  20.73  22.26   2.06   4.33   6.48   2.59  13.35   3.43
2022-01-27  16.30  20.44  20.40   2.08   4.24   6.16   2.52  12.85   3.34
2022-01-28  15.83  20.33  20.87   2.14   4.29   6.37   2.55  12.81   3.36

                   ...                                                   \
Stkcd      11      ... 900947 900948 900949 900950 900951 900952 900953
Trddt              ...
2010-01-04  10.64  ...  0.838  8.680  0.695  0.809  0.538  0.480  0.719
2010-01-05  10.31  ...  0.840  8.979  0.704  0.823  0.545  0.485  0.739
2010-01-06  10.34  ...  0.839  8.934  0.705  0.836  0.540  0.482  0.754
2010-01-07  10.10  ...  0.822  8.781  0.693  0.826  0.524  0.476  0.745
2010-01-08  10.20  ...  0.828  8.900  0.695  0.832  0.530  0.481  0.750
...           ...  ...    ...    ...    ...    ...    ...    ...    ...
2022-01-24  11.42  ...  0.278  0.906    NaN    NaN    NaN  0.244  0.334
2022-01-25  10.91  ...  0.271  0.882    NaN    NaN    NaN  0.243  0.329
2022-01-26  11.18  ...  0.271  0.889    NaN    NaN    NaN  0.247  0.329
2022-01-27  10.80  ...  0.271  0.886    NaN    NaN    NaN  0.245  0.325
2022-01-28  10.93  ...  0.269  0.922    NaN    NaN    NaN  0.247  0.327


Stkcd      900955 900956 900957
Trddt
2010-01-04  0.705  0.798  0.546
2010-01-05  0.695  0.810  0.542
2010-01-06  0.708  0.809  0.546
2010-01-07  0.705  0.793  0.528
2010-01-08  0.714  0.792  0.528
...           ...    ...    ...
2022-01-24  0.118    NaN  0.621
2022-01-25  0.116    NaN  0.611
2022-01-26  0.117    NaN  0.614
2022-01-27  0.111    NaN  0.612
2022-01-28  0.109    NaN  0.617

[2936 rows x 4824 columns]

In [141]:
df_close_filtered = df_close['Clsprc'][stocks]

In [152]:
df_return = df_close_filtered / df_close_filtered.shift(1) - 1
df_return

Stkcd,1,2,4,5,6,7,8,9,10,11,...,900929,900935,900939,900948,900949,900950,900951,900953,900956,900957
Trddt,,,,,,,,,,,,,,,,,,,,,
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,-0.017292,-0.022642,NaN,0.035058,-0.028777,0.037518,NaN,-0.025830,-0.017782,-0.031015,...,0.013609,0.014323,0.007371,0.034447,0.012950,0.017305,0.013011,0.027816,0.015038,-0.007326
2010-01-06,-0.017167,0.000000,NaN,-0.019355,0.002778,0.000000,NaN,-0.000947,0.010345,0.002910,...,-0.011278,-0.001284,0.000000,-0.005012,0.001420,0.015796,-0.009174,0.020298,-0.001235,0.007380
2010-01-07,-0.010917,-0.007722,NaN,-0.041118,-0.008310,-0.029207,NaN,0.018957,-0.039249,-0.023211,...,0.004345,-0.017995,-0.004878,-0.017126,-0.017021,-0.011962,-0.029630,-0.011936,-0.019778,-0.032967
2010-01-08,-0.002208,0.006809,NaN,0.010292,0.024209,0.007163,NaN,0.048372,0.017762,0.009901,...,0.023256,-0.001309,0.022059,0.013552,0.002886,0.007264,0.011450,0.006711,-0.001261,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,-0.008646,0.002773,0.015625,0.004739,-0.011086,0.011696,0.011364,0.019900,-0.019022,-0.007819,...,0.004808,NaN,-0.001517,0.001105,NaN,NaN,NaN,-0.011834,NaN,-0.026646
2022-01-25,-0.020349,-0.040553,-0.056410,-0.033019,-0.038117,-0.014451,-0.056180,-0.052265,-0.060942,-0.044658,...,0.006152,NaN,-0.039514,-0.026490,NaN,NaN,NaN,-0.014970,NaN,-0.016103
2022-01-26,-0.011869,-0.004323,0.099802,0.004878,0.009324,-0.049853,0.027778,-0.018382,0.011799,0.024748,...,0.002038,NaN,0.012658,0.007937,NaN,NaN,NaN,0.000000,NaN,0.004910
2022-01-27,-0.021021,-0.013989,-0.083558,0.009709,-0.020785,-0.049383,-0.027027,-0.037453,-0.026239,-0.033989,...,-0.003390,NaN,-0.003125,-0.003375,NaN,NaN,NaN,-0.012158,NaN,-0.003257
2022-01-28,-0.028834,-0.005382,0.023039,0.028846,0.011792,0.034091,0.011905,-0.003113,0.005988,0.012037,...,0.001361,NaN,0.000000,0.040632,NaN,NaN,NaN,0.006154,NaN,0.008170

In [153]:
df_repay = df1.reset_index(drop=True).drop_duplicates(['date', 'code']).pivot(index=['date'], columns=['code'], values=['total'])['total'].reset_index().set_index('date')
df_repay

code,1,2,4,5,6,7,8,9,10,11,...,900929,900935,900939,900948,900949,900950,900951,900953,900956,900957
date,,,,,,,,,,,,,,,,,,,,,
2010-03-31,0.964335,3.196757,3.814835,1.111791,5.927074,1.723246,20.898660,5.322206,2.816199,3.289969,...,4.560524,2.281984,1.041367,3.735002,1.920576,3.270751,1.546959,2.487653,3.042939,2.290787
2010-06-30,0.951279,3.162009,3.351962,1.099734,6.308945,1.817989,32.543017,5.017127,2.822760,3.582793,...,3.787898,1.610527,0.984120,4.321628,1.853314,2.788386,1.320880,2.501067,2.742411,0.880356
2010-09-30,0.952384,3.191491,4.536275,1.031373,3.490981,1.487824,31.794238,4.845514,2.814212,3.391070,...,3.873234,1.619664,1.411872,4.327226,2.133287,2.698139,1.073604,2.668073,2.687079,0.927738
2010-12-31,0.954349,3.159534,4.006465,1.140019,3.647539,1.642779,37.862839,3.982211,2.880141,2.724389,...,4.117036,1.501582,1.019461,4.363140,1.925036,2.885984,1.247483,2.448026,2.581135,4.914241
2011-03-31,0.955483,2.939776,4.178119,1.168346,3.025097,1.434147,41.381464,4.267571,2.756687,3.173971,...,4.500382,1.385202,0.673516,3.476585,2.362634,2.682483,1.325971,2.306154,2.558706,4.643050
2011-06-30,0.955223,2.911935,4.206047,1.126913,2.816456,6.243884,36.551218,4.753608,2.467608,2.751108,...,3.948128,1.926719,0.662244,4.150460,2.497859,2.775059,1.119238,2.121671,2.569678,1.162765
2011-09-30,0.940618,2.761755,4.411509,1.116084,2.433978,6.504564,38.030743,4.236717,2.617149,2.638938,...,3.647380,2.534263,1.052650,4.449782,2.875063,2.584134,1.124842,2.178828,2.588391,1.052281
2011-12-31,0.940087,2.716811,4.405645,1.097626,2.334645,5.571679,37.648222,3.393026,2.697391,2.598312,...,4.478439,1.798573,0.772193,3.395767,1.771641,2.780156,1.078719,2.242178,2.682078,0.836594
2012-03-31,0.942283,2.828130,4.328803,1.085137,2.339232,3.939123,41.539280,3.512678,2.585535,2.600119,...,4.654593,2.248445,0.638945,3.711529,1.850276,2.660496,1.288772,2.275660,2.684423,0.748967
2012-06-30,0.946450,2.869895,4.026463,1.039471,2.677317,4.100901,40.418266,3.080572,2.595787,2.825268,...,4.158499,2.595018,0.599602,2.840419,1.669076,2.584326,1.414567,2.261912,2.725940,9.386255
2012-09-30,0.944688,2.715909,5.645183,1.047881,3.055792,3.608639,40.276848,3.807496,2.449821,2.961381,...,4.177677,3.333440,0.609513,3.286335,1.783003,2.622376,1.455007,2.224410,2.769887,5.142904
2012-12-31,0.947216,2.790230,6.433818,1.588656,3.166367,3.200479,5.855396,2.984066,2.777365,2.759704,...,4.199691,1.978563,2.842269,3.141928,1.812535,2.739318,1.272263,2.172345,2.677464,3.220919
2013-03-31,0.950996,2.680260,8.220045,1.234748,3.449738,3.289668,7.548048,2.821429,2.600852,3.029572,...,4.196798,2.506036,3.410616,3.413578,1.947679,2.680352,1.525520,2.228809,2.643171,2.823095
2013-06-30,0.949895,2.551878,6.319081,1.220874,4.008656,2.948396,8.541613,2.819793,5.615865,3.412441,...,4.069384,3.033844,2.197304,3.557978,2.224434,2.721799,1.455335,2.266348,2.893664,56.187494
2013-09-30,0.948851,2.553252,5.444501,1.194022,3.668603,3.404500,8.078707,2.906734,5.496600,3.349107,...,3.849058,3.640592,2.184039,5.175550,2.565559,2.682457,1.455298,2.224966,2.955049,55.326991
2013-12-31,0.940752,2.591842,4.720834,1.390898,4.444900,3.595421,8.893335,2.651680,6.073209,3.381265,...,4.115867,1.659869,2.800588,5.527029,NaN,2.953587,1.550311,2.244753,2.905007,33.635777
2014-03-31,0.944066,2.585474,4.127873,1.438647,4.283095,3.355191,10.070007,3.060087,10.029331,3.330741,...,4.083341,2.018893,3.433650,9.426747,NaN,2.836787,1.874750,2.251077,2.963679,55.466266
2014-06-30,0.943393,2.644189,3.525763,1.331663,3.993501,3.458355,8.033944,3.581672,9.624645,3.228932,...,3.648746,1.762745,2.862990,7.454526,NaN,2.839894,1.522984,2.220528,2.959307,4.810454
2014-09-30,0.940898,2.622247,3.495428,1.306972,3.471754,3.295399,7.883890,3.460934,9.954211,3.610840,...,3.783612,2.247288,3.029915,5.514411,NaN,2.798050,1.527400,2.214134,3.057567,1.976272
2014-12-31,0.940109,2.720637,3.026294,1.265975,3.119070,3.610259,8.693289,3.241432,8.567832,3.724876,...,4.050807,2.449352,3.015742,6.095123,NaN,2.656774,1.310779,2.152991,2.839068,1.895152
2015-03-31,0.940687,2.576600,2.885854,1.265443,3.706541,3.378532,6.486762,3.279934,8.066858,3.604300,...,4.116664,2.828854,3.245867,5.640789,NaN,2.785640,1.562138,2.265846,2.786055,2.246156
2015-06-30,0.941303,2.603209,2.792692,1.207473,3.696422,4.078966,5.758102,3.278420,2.013758,3.083904,...,3.960978,3.089789,3.300834,4.619421,NaN,2.938395,1.388363,2.261263,2.883591,1.248085
2015-09-30,0.939541,2.605026,2.899984,1.199627,3.679454,4.510881,5.542156,3.764131,1.713112,3.158709,...,3.799416,3.331330,3.465972,4.132943,NaN,2.808514,1.393619,2.253037,2.771979,-12.435644
2015-12-31,0.935584,2.628348,2.814494,1.917756,3.996719,7.470124,5.592164,3.366402,3.485688,3.419914,...,4.693011,2.979150,4.694280,3.408054,NaN,NaN,1.362551,2.250415,2.834339,4.016139
2016-03-31,0.930042,2.577373,2.742887,1.798419,4.437427,5.948170,6.323509,3.527472,3.419745,3.400450,...,4.839095,3.348959,3.885343,3.816687,NaN,NaN,1.305061,2.309026,2.927527,6.471643
2016-06-30,0.931560,2.597034,3.349680,1.834997,4.083085,5.968155,6.039608,3.190951,3.045480,3.288877,...,4.201790,3.848338,3.994450,3.348701,NaN,NaN,1.337718,2.269239,2.819000,4.950315
2016-09-30,0.928982,2.534144,3.485252,1.897125,3.839455,6.627853,6.771153,3.061953,2.997475,3.281454,...,4.235294,4.277807,4.235629,2.939705,NaN,NaN,1.370719,2.283333,2.860335,5.262240
2016-12-31,0.931547,2.623854,9.941418,1.753243,4.379971,7.432108,4.980572,2.853957,2.568452,3.445401,...,4.719923,NaN,6.115469,2.858635,NaN,NaN,1.439245,2.424435,2.780542,3.532042
2017-03-31,0.930896,2.631232,9.657169,1.792908,3.870745,9.013815,5.215910,2.894683,2.744215,3.634952,...,5.266940,NaN,5.123092,2.438133,NaN,NaN,1.440247,2.560638,2.791169,3.475807
2017-06-30,0.931616,2.642594,8.424750,1.939745,3.601590,9.576694,4.930180,2.990095,2.729363,3.607740,...,3.038077,NaN,5.369476,2.893624,NaN,NaN,1.447179,2.483430,2.890133,4.714619
2017-09-30,0.930482,2.631642,7.119818,1.910588,3.460381,8.837619,3.624421,3.840206,2.747035,4.372201,...,2.944461,NaN,5.476354,3.574051,NaN,NaN,1.564448,2.437721,2.825449,4.604065
2017-12-31,0.931644,2.729627,5.666163,1.972264,3.260638,7.727003,4.181228,3.436466,2.763454,4.441868,...,3.318966,NaN,6.524098,3.704793,NaN,NaN,1.633456,2.592984,2.898354,4.974083
2018-03-31,0.933088,2.641334,6.055742,2.039765,3.158874,7.866861,4.460669,3.385309,2.791043,5.122448,...,3.573320,NaN,5.827774,4.383691,NaN,NaN,1.560015,2.783197,2.832581,5.137653
2018-06-30,0.932250,2.704046,5.079432,1.925651,3.562630,7.834684,4.185248,3.542711,2.631927,5.108872,...,3.536664,NaN,6.049318,3.579111,NaN,NaN,1.543093,2.716973,2.940073,5.750300
2018-09-30,0.929825,2.611521,4.261740,1.922425,3.634002,6.955367,4.399358,3.502806,2.468773,5.047435,...,3.489724,NaN,5.847842,3.866719,NaN,NaN,1.564967,2.643612,3.026159,6.210636
2018-12-31,0.929783,2.642348,4.381782,2.494284,3.840565,14.290617,4.471749,3.393109,2.377667,5.216938,...,3.985673,NaN,7.434634,3.861919,NaN,NaN,1.461791,2.355521,2.984245,5.111391
2019-03-31,0.928916,2.586492,12.513146,2.538696,3.820193,7.038219,4.287429,3.544947,2.495349,6.080028,...,4.175347,NaN,7.200297,3.740022,NaN,NaN,1.539583,2.501190,3.007193,5.379719
2019-06-30,0.928538,2.524815,13.611458,2.753193,4.048636,7.618244,4.097586,3.837740,2.571152,4.953060,...,3.186721,NaN,7.547528,3.812578,NaN,NaN,1.502452,2.359206,3.010485,5.393712
2019-09-30,0.922304,2.474625,17.568731,2.720186,4.362918,5.575401,3.876227,3.439174,2.444555,4.439379,...,3.262936,NaN,7.806066,5.359516,NaN,NaN,1.570780,2.318056,3.039043,5.862016
2019-12-31,0.920544,2.525721,13.028994,2.617948,4.419927,20.389798,3.677036,3.528446,2.440761,4.021054,...,3.521698,NaN,7.921908,4.254774,NaN,NaN,1.479012,2.275126,2.975128,4.762423
2020-03-31,0.914731,2.550108,16.040521,3.178156,5.338354,19.187007,3.383892,3.264458,2.792059,4.481456,...,3.934019,NaN,8.731858,4.593268,NaN,NaN,1.542174,2.375214,3.090579,5.151287
2020-06-30,0.915906,2.567715,15.112699,2.944338,4.804669,17.362636,3.166232,3.318600,2.862831,4.956829,...,3.852894,NaN,9.401552,3.918781,NaN,NaN,NaN,2.400360,3.168407,5.368058
2020-09-30,0.917465,2.517511,14.413071,2.958477,4.711091,18.604760,3.184173,3.904409,2.865206,4.590484,...,3.824297,NaN,10.643542,3.884940,NaN,NaN,NaN,2.360248,3.174541,7.611652
2020-12-31,0.918512,2.542160,12.158891,3.011565,4.730091,3.584288,3.094573,4.063199,2.813320,4.930716,...,3.902119,NaN,8.887911,3.415789,NaN,NaN,NaN,2.368254,NaN,6.677130
2021-03-31,0.918518,2.548452,10.744711,2.956195,5.405262,3.584641,2.803732,3.797401,2.843181,4.954914,...,3.962657,NaN,10.766144,3.649804,NaN,NaN,NaN,2.326659,NaN,7.026736
2021-06-30,0.920146,2.554627,12.977594,3.421469,3.838102,3.581032,2.666592,3.841933,2.856181,4.861832,...,3.855713,NaN,9.955365,4.405214,NaN,NaN,NaN,2.494246,NaN,8.012886
2021-09-30,0.919874,2.475213,9.805610,3.464096,3.565619,3.594699,2.623730,3.605182,2.871588,3.995603,...,3.974311,NaN,10.361698,3.900979,NaN,NaN,NaN,2.408881,NaN,7.083296
2021-12-31,0.919647,2.524978,8.933565,3.432067,3.427178,3.890509,2.751113,3.412402,2.834991,3.488531,...,3.919836,NaN,9.580460,4.030647,NaN,NaN,NaN,2.160668,NaN,5.721823
2022-03-31,0.920637,2.545563,9.101876,3.453700,3.511133,3.891224,2.661796,3.218348,2.777428,3.325894,...,3.735205,NaN,9.475986,4.612195,NaN,NaN,NaN,2.226149,NaN,5.866714

In [109]:
df_repay = df_repay.shift(1)
df_rank = df_repay.rank(ascending=True, axis=1)
# df_return.shift(-1)[df_rank<=100].mean(axis=1)

In [86]:
df_rank

code,1,2,4,5,6,7,8,9,10,11,...,900929,900935,900939,900948,900949,900950,900951,900953,900956,900957
date,,,,,,,,,,,,,,,,,,,,,
2010-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30,40.0,928.0,1193.0,53.0,1523.0,161.0,1803.0,1474.0,712.0,971.0,...,1369.0,390.0,45.0,1168.0,222.0,962.0,120.0,517.0,851.0,396.0
2010-12-31,41.0,988.0,1090.0,56.0,1681.0,199.0,2031.0,1535.0,759.0,1197.0,...,1278.0,134.0,48.0,1413.0,213.0,738.0,80.0,536.0,705.0,26.0
2011-03-31,42.0,951.0,1421.0,47.0,1114.0,102.0,2011.0,1471.0,718.0,1070.0,...,1243.0,135.0,91.0,1367.0,311.0,638.0,49.0,615.0,629.0,28.0
2011-06-30,43.0,1077.0,1503.0,55.0,1367.0,156.0,2472.0,1497.0,867.0,744.0,...,1536.0,115.0,47.0,1605.0,255.0,871.0,60.0,550.0,641.0,1751.0
2011-09-30,43.0,782.0,1314.0,52.0,836.0,86.0,2130.0,1336.0,656.0,937.0,...,1386.0,78.0,15.0,1074.0,424.0,608.0,67.0,393.0,536.0,1405.0
2011-12-31,46.0,792.0,1380.0,53.0,716.0,1707.0,2260.0,1519.0,481.0,676.0,...,1306.0,213.0,15.0,1362.0,495.0,689.0,52.0,294.0,553.0,56.0
2012-03-31,35.0,671.0,1420.0,51.0,453.0,1709.0,2259.0,1380.0,573.0,583.0,...,1169.0,509.0,48.0,1427.0,735.0,549.0,53.0,323.0,553.0,47.0
2012-06-30,38.0,732.0,1611.0,52.0,454.0,1838.0,2594.0,1180.0,722.0,633.0,...,1631.0,186.0,22.0,1186.0,178.0,784.0,50.0,404.0,710.0,24.0
2012-09-30,41.0,752.0,1417.0,53.0,440.0,1290.0,2352.0,1129.0,582.0,589.0,...,1495.0,388.0,16.0,1203.0,193.0,638.0,64.0,404.0,659.0,21.0
2012-12-31,40.0,811.0,1358.0,49.0,675.0,1378.0,2427.0,943.0,613.0,775.0,...,1394.0,612.0,15.0,784.0,126.0,596.0,76.0,399.0,704.0,1996.0
2013-03-31,39.0,690.0,1698.0,47.0,924.0,1206.0,2418.0,1276.0,500.0,857.0,...,1415.0,1074.0,16.0,1043.0,165.0,628.0,78.0,372.0,725.0,1630.0
2013-06-30,42.0,867.0,2109.0,139.0,1152.0,1176.0,2036.0,1025.0,853.0,839.0,...,1650.0,302.0,912.0,1135.0,214.0,823.0,63.0,406.0,780.0,1191.0
2013-09-30,42.0,692.0,1943.0,56.0,1157.0,1067.0,1900.0,790.0,627.0,919.0,...,1435.0,551.0,1131.0,1134.0,246.0,693.0,106.0,378.0,660.0,791.0
2013-12-31,41.0,611.0,1883.0,54.0,1409.0,888.0,2060.0,790.0,1787.0,1161.0,...,1435.0,943.0,365.0,1232.0,380.0,723.0,91.0,405.0,842.0,2520.0
2014-03-31,44.0,581.0,1764.0,52.0,1269.0,1148.0,2033.0,859.0,1772.0,1125.0,...,1341.0,1253.0,353.0,1716.0,590.0,691.0,94.0,380.0,889.0,2469.0
2014-06-30,53.0,806.0,2115.0,103.0,2026.0,1585.0,2719.0,862.0,2404.0,1462.0,...,1891.0,188.0,988.0,2298.0,NaN,1128.0,145.0,516.0,1073.0,3114.0
2014-09-30,42.0,660.0,1497.0,98.0,1553.0,1198.0,2204.0,1004.0,2201.0,1180.0,...,1481.0,312.0,1230.0,2173.0,NaN,834.0,233.0,424.0,935.0,2523.0
2014-12-31,41.0,712.0,1340.0,78.0,1542.0,1311.0,2209.0,1367.0,2312.0,1180.0,...,1393.0,197.0,896.0,2159.0,NaN,877.0,120.0,413.0,979.0,1789.0
2015-03-31,43.0,683.0,1322.0,71.0,1304.0,1199.0,2218.0,1297.0,2337.0,1383.0,...,1464.0,424.0,1014.0,1959.0,NaN,838.0,120.0,406.0,1038.0,285.0
2015-06-30,64.0,1040.0,1361.0,91.0,1443.0,1868.0,3139.0,1571.0,3132.0,1959.0,...,2151.0,770.0,1353.0,2802.0,NaN,973.0,100.0,515.0,1166.0,316.0
2015-09-30,45.0,687.0,925.0,74.0,1467.0,1273.0,2152.0,1212.0,2320.0,1419.0,...,1648.0,877.0,1190.0,2029.0,NaN,836.0,135.0,456.0,837.0,439.0
2015-12-31,43.0,698.0,867.0,76.0,1496.0,1674.0,2131.0,1232.0,324.0,1087.0,...,1624.0,1094.0,1252.0,1871.0,NaN,982.0,97.0,469.0,934.0,80.0
2016-03-31,44.0,688.0,912.0,64.0,1495.0,1850.0,2100.0,1541.0,177.0,1127.0,...,1557.0,1264.0,1374.0,1720.0,NaN,840.0,95.0,444.0,810.0,1.0
2016-06-30,67.0,891.0,1074.0,343.0,2115.0,3091.0,2737.0,1629.0,1731.0,1685.0,...,2478.0,1235.0,2481.0,1676.0,NaN,NaN,129.0,551.0,1095.0,2126.0
2016-09-30,43.0,649.0,770.0,221.0,1797.0,2163.0,2213.0,1371.0,1303.0,1288.0,...,1926.0,1252.0,1580.0,1546.0,NaN,NaN,93.0,465.0,924.0,2232.0
2016-12-31,45.0,702.0,1335.0,246.0,1818.0,2392.0,2409.0,1216.0,1085.0,1289.0,...,1872.0,1678.0,1755.0,1334.0,NaN,NaN,100.0,483.0,897.0,2149.0
2017-03-31,42.0,599.0,1313.0,239.0,1533.0,2388.0,2407.0,1013.0,948.0,1172.0,...,1741.0,1760.0,1742.0,894.0,NaN,NaN,101.0,452.0,834.0,2093.0
2017-06-30,66.0,814.0,3502.0,258.0,2293.0,3196.0,2571.0,1019.0,760.0,1616.0,...,2447.0,NaN,2927.0,1023.0,NaN,NaN,158.0,644.0,956.0,1698.0
2017-09-30,47.0,682.0,2850.0,219.0,1597.0,2790.0,2163.0,872.0,757.0,1457.0,...,2177.0,NaN,2128.0,549.0,NaN,NaN,120.0,626.0,794.0,1347.0
2017-12-31,50.0,729.0,3019.0,261.0,1597.0,3112.0,2291.0,1058.0,800.0,1608.0,...,1113.0,NaN,2433.0,955.0,NaN,NaN,125.0,592.0,950.0,2199.0
2018-03-31,52.0,676.0,2760.0,241.0,1436.0,2961.0,1564.0,1699.0,774.0,2004.0,...,951.0,NaN,2400.0,1524.0,NaN,NaN,132.0,532.0,840.0,2108.0
2018-06-30,76.0,960.0,3154.5,354.0,1584.0,3663.0,2383.0,1747.0,1004.0,2548.0,...,1650.0,NaN,3414.0,2012.0,NaN,NaN,201.0,820.0,1156.0,2840.0
2018-09-30,66.0,732.0,2615.0,306.0,1226.0,2944.0,2101.0,1419.0,882.0,2348.0,...,1562.0,NaN,2546.0,2069.0,NaN,NaN,153.0,873.0,913.0,2351.0
2018-12-31,67.0,841.0,2534.0,271.0,1684.0,3109.0,2112.0,1666.0,774.0,2551.0,...,1663.0,NaN,2796.0,1699.0,NaN,NaN,147.0,854.0,1091.0,2723.0
2019-03-31,68.0,752.0,2177.0,263.0,1759.0,2977.0,2256.0,1649.0,627.0,2538.0,...,1638.0,NaN,2753.0,1955.0,NaN,NaN,138.0,782.0,1169.0,2831.0
2019-06-30,90.0,1011.0,2980.0,832.0,2510.0,4611.0,3038.0,1998.0,708.0,3443.0,...,2631.0,NaN,4066.0,2529.0,NaN,NaN,163.0,687.0,1472.0,3388.0
2019-09-30,76.0,764.0,3407.0,714.0,1945.0,2984.0,2223.0,1701.0,679.0,2825.0,...,2160.0,NaN,3007.0,1878.0,NaN,NaN,144.0,683.0,1192.0,2652.0
2019-12-31,80.0,742.0,3665.0,989.0,2201.0,3277.0,2230.0,2064.0,781.0,2657.0,...,1436.0,NaN,3261.0,2050.0,NaN,NaN,155.0,574.0,1259.0,2823.0
2020-03-31,76.0,711.0,3718.0,959.0,2374.0,2838.0,2087.0,1731.0,675.0,2411.0,...,1544.0,NaN,3237.0,2759.0,NaN,NaN,168.0,552.0,1296.0,2901.0
2020-06-30,77.0,894.0,4535.0,992.0,2909.0,4744.0,2297.0,2145.0,793.0,2638.0,...,2135.0,NaN,4082.0,2805.0,NaN,NaN,174.0,615.0,1450.0,3142.0
2020-09-30,66.0,791.0,3752.0,1463.0,2782.0,3826.0,1673.0,1553.0,1017.0,2460.0,...,2153.0,NaN,3382.0,2514.0,NaN,NaN,172.0,612.0,1378.0,2723.0
2020-12-31,59.0,829.0,4118.0,1247.0,2787.0,4177.0,1526.0,1690.0,1156.0,2850.0,...,2203.0,NaN,3804.0,2259.0,NaN,NaN,NaN,656.0,1529.0,3020.0
2021-03-31,64.0,735.0,3931.0,1230.0,2589.0,4032.0,1491.0,2133.0,1125.0,2530.0,...,2075.0,NaN,3713.0,2121.0,NaN,NaN,NaN,583.0,1479.0,3371.0
2021-06-30,73.0,797.0,4395.0,1380.0,2921.0,2023.0,1488.0,2487.0,1094.0,3035.0,...,2357.0,NaN,4049.0,1844.0,NaN,NaN,NaN,625.0,NaN,3617.0
2021-09-30,74.0,750.0,3934.0,1240.0,3004.0,1909.0,1036.0,2108.0,1089.0,2813.0,...,2229.0,NaN,3935.0,1973.0,NaN,NaN,NaN,553.0,NaN,3409.0
2021-12-31,81.0,809.0,4364.0,1853.0,2289.0,2021.0,947.0,2292.0,1186.0,2929.0,...,2305.0,NaN,4104.0,2698.0,NaN,NaN,NaN,743.0,NaN,3810.0
2022-03-31,82.0,714.0,4034.0,1881.0,1978.0,2010.0,883.0,2025.0,1188.0,2375.0,...,2352.0,NaN,4086.0,2297.0,NaN,NaN,NaN,651.0,NaN,3601.0

In [88]:
df_return.shift(-1)

              Clsprc                                                    \
Stkcd         1         2         4         5         6         7
Trddt
2010-01-04 -0.017292 -0.022642       NaN  0.035058 -0.028777  0.037518
2010-01-05 -0.017167  0.000000       NaN -0.019355  0.002778  0.000000
2010-01-06 -0.010917 -0.007722       NaN -0.041118 -0.008310 -0.029207
2010-01-07 -0.002208  0.006809       NaN  0.010292  0.024209  0.007163
2010-01-08  0.000000 -0.016425       NaN -0.011885 -0.026364  0.005690
...              ...       ...       ...       ...       ...       ...
2022-01-24 -0.020349 -0.040553 -0.056410 -0.033019 -0.038117 -0.014451
2022-01-25 -0.011869 -0.004323  0.099802  0.004878  0.009324 -0.049853
2022-01-26 -0.021021 -0.013989 -0.083558  0.009709 -0.020785 -0.049383
2022-01-27 -0.028834 -0.005382  0.023039  0.028846  0.011792  0.034091
2022-01-28       NaN       NaN       NaN       NaN       NaN       NaN

                                                    ...                      \
Stkcd         8         9         10        11      ...    900947    900948
Trddt                                               ...
2010-01-04       NaN -0.025830 -0.017782 -0.031015  ...  0.002387  0.034447
2010-01-05       NaN -0.000947  0.010345  0.002910  ... -0.001190 -0.005012
2010-01-06       NaN  0.018957 -0.039249 -0.023211  ... -0.020262 -0.017126
2010-01-07       NaN  0.048372  0.017762  0.009901  ...  0.007299  0.013552
2010-01-08       NaN -0.019521  0.006981  0.026471  ...  0.014493  0.011236
...              ...       ...       ...       ...  ...       ...       ...
2022-01-24 -0.056180 -0.052265 -0.060942 -0.044658  ... -0.025180 -0.026490
2022-01-25  0.027778 -0.018382  0.011799  0.024748  ...  0.000000  0.007937
2022-01-26 -0.027027 -0.037453 -0.026239 -0.033989  ...  0.000000 -0.003375
2022-01-27  0.011905 -0.003113  0.005988  0.012037  ... -0.007380  0.040632
2022-01-28       NaN       NaN       NaN       NaN  ...       NaN       NaN

                                                                        \
Stkcd         900949    900950    900951    900952    900953    900955
Trddt
2010-01-04  0.012950  0.017305  0.013011  0.010417  0.027816 -0.014184
2010-01-05  0.001420  0.015796 -0.009174 -0.006186  0.020298  0.018705
2010-01-06 -0.017021 -0.011962 -0.029630 -0.012448 -0.011936 -0.004237
2010-01-07  0.002886  0.007264  0.011450  0.010504  0.006711  0.012766
2010-01-08  0.007194 -0.013221  0.005660  0.004158 -0.022667 -0.008403
...              ...       ...       ...       ...       ...       ...
2022-01-24       NaN       NaN       NaN -0.004098 -0.014970 -0.016949
2022-01-25       NaN       NaN       NaN  0.016461  0.000000  0.008621
2022-01-26       NaN       NaN       NaN -0.008097 -0.012158 -0.051282
2022-01-27       NaN       NaN       NaN  0.008163  0.006154 -0.018018
2022-01-28       NaN       NaN       NaN       NaN       NaN       NaN


Stkcd         900956    900957
Trddt
2010-01-04  0.015038 -0.007326
2010-01-05 -0.001235  0.007380
2010-01-06 -0.019778 -0.032967
2010-01-07 -0.001261  0.000000
2010-01-08  0.003788 -0.028409
...              ...       ...
2022-01-24       NaN -0.016103
2022-01-25       NaN  0.004910
2022-01-26       NaN -0.003257
2022-01-27       NaN  0.008170
2022-01-28       NaN       NaN

[2936 rows x 4824 columns]

In [99]:
datetime.datetime(2008,3,31) in df_rank.index

False

In [103]:
df_return[df_return.index in df_rank.index]

TypeError: unhashable type: 'Index'

In [102]:
df_return.index

Index(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
       '2010-01-11', '2010-01-12', '2010-01-13', '2010-01-14', '2010-01-15',
       ...
       '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20', '2022-01-21',
       '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28'],
      dtype='object', name='Trddt', length=2936)

In [119]:
len([x for x in cols2 if x in cols1])

4733

In [139]:
df_close['Clsprc'][[x for x in cols2 if x in cols1]]

Stkcd,1,2,4,5,6,7,8,9,10,11,...,900929,900935,900939,900948,900949,900950,900951,900953,900956,900957
Trddt,,,,,,,,,,,,,,,,,,,,,
2010-01-04,23.71,10.60,NaN,5.99,11.12,6.93,NaN,10.84,11.81,10.64,...,1.837,0.768,0.407,8.680,0.695,0.809,0.538,0.719,0.798,0.546
2010-01-05,23.30,10.36,NaN,6.20,10.80,7.19,NaN,10.56,11.60,10.31,...,1.862,0.779,0.410,8.979,0.704,0.823,0.545,0.739,0.810,0.542
2010-01-06,22.90,10.36,NaN,6.08,10.83,7.19,NaN,10.55,11.72,10.34,...,1.841,0.778,0.410,8.934,0.705,0.836,0.540,0.754,0.809,0.546
2010-01-07,22.65,10.28,NaN,5.83,10.74,6.98,NaN,10.75,11.26,10.10,...,1.849,0.764,0.408,8.781,0.693,0.826,0.524,0.745,0.793,0.528
2010-01-08,22.60,10.35,NaN,5.89,11.00,7.03,NaN,11.27,11.46,10.20,...,1.892,0.763,0.417,8.900,0.695,0.832,0.530,0.750,0.792,0.528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,17.20,21.70,21.45,2.12,4.46,6.92,2.67,14.35,3.61,11.42,...,1.463,NaN,0.658,0.906,NaN,NaN,NaN,0.334,NaN,0.621
2022-01-25,16.85,20.82,20.24,2.05,4.29,6.82,2.52,13.60,3.39,10.91,...,1.472,NaN,0.632,0.882,NaN,NaN,NaN,0.329,NaN,0.611
2022-01-26,16.65,20.73,22.26,2.06,4.33,6.48,2.59,13.35,3.43,11.18,...,1.475,NaN,0.640,0.889,NaN,NaN,NaN,0.329,NaN,0.614
2022-01-27,16.30,20.44,20.40,2.08,4.24,6.16,2.52,12.85,3.34,10.80,...,1.470,NaN,0.638,0.886,NaN,NaN,NaN,0.325,NaN,0.612
2022-01-28,15.83,20.33,20.87,2.14,4.29,6.37,2.55,12.81,3.36,10.93,...,1.472,NaN,0.638,0.922,NaN,NaN,NaN,0.327,NaN,0.617